body {
    font-family: 'Square Peg', cursive;
    font-size: 28px;
    background-color: #5cdb95;
    color: #edf5e1;
    margin: 0%;
}

.header, .form_header {
    background-color: #05386b;
    color: #edf5e1;
}

.form_header {
    display: flex;
    justify-content: center;
}

.form_header h1 {
    margin: 0%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header p, button {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 2%;
    margin-right: 2%;

}

.header form {
    padding-left: 5px;
    padding-right: 5px;
}

.header input[type="submit"] {
    border-radius: 12px;
    border: transparent;
    padding: 5px;
    color: #05386b;
    background-color: #edf5e1;
    border-color: #5cdb95;
}

.header input[type="submit"]:hover {
    cursor: pointer;
    border: solid #edf5e1;
    background-color: #05386b;
    color: #edf5e1;
    border-color: #edf5e1;
}
